# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# PyCharm files
.idea/

# Build artifacts
dist/
build/
*.egg-info/

# Local instance folder
instance/
*.sqlite

# Other
.env

# Archivos generados y subidos por el usuario
app/static/uploads/
app/static/receipts/