# --- Framework Principal ---
Flask==2.3.3
Werkzeug==2.3.8
Jinja2==3.1.2

# --- Formularios ---
Flask-WTF==1.1.1
WTForms==3.0.1
WTForms-SQLAlchemy==0.3
email-validator==2.0.0

# --- Base de Datos ---
Flask-SQLAlchemy==3.0.5
SQLAlchemy==2.0.21
Flask-Migrate==4.0.5
psycopg2-binary==2.9.7

# --- Autenticación ---
Flask-Login==0.6.2

# --- Utilidades y Servidor ---
python-dotenv==1.0.0
gunicorn==21.2.0
click==8.1.7