<!-- app/templates/login.html -->
{% extends "base.html" %}

{% block content %}
<style>
    /* Estos estilos se aplicarán solo en esta página */
    html, body {
        height: 100%;
    }
    .form-signin-container {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        flex-grow: 1;
    }
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    .form-signin .form-floating:focus-within {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>

<div class="form-signin-container text-center">
    <main class="form-signin">
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
            <p>Sistema de Gestión de Tienda</p>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} small">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="form-floating">
                {{ form.email(class="form-control", placeholder="name@example.com", id="floatingInput") }}
                {{ form.email.label(for="floatingInput") }}
            </div>
            <div class="form-floating">
                {{ form.password(class="form-control", placeholder="Contraseña", id="floatingPassword") }}
                {{ form.password.label(for="floatingPassword") }}
            </div>

            <div class="checkbox mb-3">
                <label>
                    {{ form.remember_me() }} {{ form.remember_me.label }}
                </label>
            </div>
            {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
        </form>
    </main>
</div>
{% endblock %}